Package: com.rpetrich.superscroller
Priority: optional
Section: System
Architecture: iphoneos-arm
Version: 0.1
Description: Paged scrolling via Activator
Name: SuperScroller
Depends: firmware (>= 4.0), mobilesubstrate, libactivator (>= 1.5.8)
Author: Ryan Petrich <rpetrich+superscroller@gmail.com>
